################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program 1/.vs/Program 1/v16
/Program 10/.vs/Program 10/v16
/Program 2/.vs/Program 2/v16
/Program 3/.vs/Program 3/v16
/Program 4/.vs/Program 4/v16
/Program 5/.vs/Program 5/v16
/Program 6/.vs/Program 6/v16
/Program 7/.vs/Program 7/v16
/Program 8/.vs/Program 8/v16
/Program 9/.vs/Program 9/v16
